@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************/
/*****************/
/*****************/
/*****************/
/*****************/

body {
  font-family: sans-serif;
}

strong {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 50px;
  margin: 0 0 20px 0;
}

i.fa.fa-question-circle {
  margin: 10px;
  font-size: 2em;
  cursor: pointer;
}

i.fa.fa-times {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 0 0 10px;
  cursor: pointer;
  font-size: 2em;
}

div.createToDoDiv {
  text-align: center;
}

input#task {
  box-shadow: 2px 3px 10px rgba(0,0,0,0.05);
  outline: none;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 2em;
  box-sizing: border-box;
  width: 50%;
  font-family: 'Indie Flower', cursive;
}

button#add {
  font-size: 2em;
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.05);
  outline: none;
  cursor: pointer;
  color: rgba(215,215,215,1);
  transition: all 0.3s ease 0s;
  font-family: 'Indie Flower', cursive;
}

button#add:hover {
  background-color: #F1F1F1;
}

div#todos {
  width: 70%;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

ul {
  width: 80%;
  margin: 0 auto;
}

ul li {
  font-size: 1.5em;
  margin: 20px;
}

ul li button {
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.05);
  outline: none;
  cursor: pointer;
  color: rgba(215,215,215,1);
  margin: 0 0 0 10px;
  transition: all 0.3s ease 0s;
  transform: translateY(-15%);
}

ul li button:hover {
  background-color: #F1F1F1;
}

p#pID {
  width: 100%;
  height: auto;
  background: black;
  color: white;
  padding: 30px 50px;
  box-sizing: border-box;
  line-height: 1.5;
  position: absolute;
  top: 0;
  display: none;
}

ul li button:hover {
  animation: shake .1s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    input#task {
      width: 95%;
    }

    button#add {
      display: none;
    }

    div#todos {
      width: 100%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    input#task {
      width: 70%;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    input#task {
      width: 95%;
    }

    button#add {
      display: none;
    }

    div#todos {
      width: 100%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    input#task {
      width: 70%;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    input#task {
      width: 95%;
    }

    button#add {
      display: none;
    }

    div#todos {
      width: 100%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    input#task {
      width: 70%;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    input#task {
      width: 95%;
    }

    button#add {
      display: none;
    }

    div#todos {
      width: 100%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    input#task {
      width: 70%;
    }
}